// main styles
main {
  margin: 0 24px;
  @media (min-width: $tablet) {
    max-width: 740px;
    margin: 0 auto;
  }
  @media (min-width: $dekstop) {
    max-width: 992px;
  }
  @media (min-width: $dekstop-xl) {
    max-width: 1360px;
  }
}