body {
  font-family: "Libre Baskerville", serif;
  font-size: 14px;
}

.gallery-item {
  position: relative;
  margin: 0 0 12px 0; /* Adjusted bottom margin for better spacing */
  width: 100%;
}
@media (min-width: 768px) {
  .gallery-item {
    width: calc(47.3% - 12px); /* Adjusted width and margin for better spacing */
    margin: 0 0 20px 0;
  }
}
@media (min-width: 992px) {
  .gallery-item {
    width: calc(30.6% - 12px);
  }
}
@media (min-width: 1400px) {
  .gallery-item {
    width: calc(22.8% - 12px);
  }
}
@media (hover: hover) and (pointer: fine) {
  .gallery-item {
    cursor: pointer;
  }
}
.gallery-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 66%);
  opacity: 0.4;
  transition: all 0.2s ease-out;
}
.gallery-item:hover::before {
  background: linear-gradient(180deg, rgb(255, 255, 255) 65%, rgb(0, 0, 0) 100%);
  transition: all 0.6s ease-out;
}
.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}
.gallery-item .gallery-item-info {
  position: absolute;
  bottom: 12px; /* Adjusted bottom position */
  left: 12px;
  right: 12px; /* Adjusted right margin */
  color: #FFF;
}
.gallery-item .gallery-item-info .gallery-item-title {
  margin: 0 0 8px 0; /* Adjusted title margin */
}
.gallery-item .gallery-item-info .gallery-item-title h2 {
  font-size: 2rem; /* Adjusted font size */
  font-weight: bold;
  margin: 0;
}
.gallery-item .gallery-item-info .gallery-item-artist {
  font-size: 0.92rem; /* Adjusted artist font size */
  color: #c3c3c2;
}
.gallery-item a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 9999;
  text-indent: -9999px;
}

.detail-page {
  position: relative;
  padding: 0 0 75px 0;
}
@media (min-width: 1400px) {
  .detail-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 100px auto 0 auto;
  }
}
.detail-page .art-visual {
  position: relative;
}
@media (min-width: 768px) {
  .detail-page .art-visual {
    width: 475px;
  }
}
.detail-page .art-visual img {
  width: 100%;
  height: auto;
}
.detail-page .art-visual .art-visual-link {
  position: absolute;
  top: 16px;
  left: 16px;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.2s ease-out;
}
@media (min-width: 768px) {
  .detail-page .art-visual .art-visual-link {
    top: auto;
    bottom: 16px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .detail-page .art-visual .art-visual-link:hover {
    background-color: rgba(151, 151, 151, 0.7);
    transition: all 0.2s ease-out;
  }
}
.detail-page .art-visual .art-visual-link a {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFF;
  padding: 14px 16px;
  display: block;
  font-size: 10px;
  letter-spacing: 2px;
}
.detail-page .art-visual .art-visual-link svg {
  margin: 0 14px 0 0;
}
.detail-page h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 8px 8px;
}
@media (min-width: 768px) {
  .detail-page h1 {
    font-size: 56px;
    margin: 0 0 24px 0;
  }
}
.detail-page .detail-page-heading {
  background-color: #FFF;
  padding: 16px;
  margin: -50px 0 0 0;
  width: 70%;
  position: relative;
  z-index: 1;
}
@media (min-width: 1000px) {
  .detail-page .detail-page-heading {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    padding: 0 65px 65px 65px;
    width: 445px;
  }
}
@media (min-width: 992px) {
  .detail-page .detail-page-heading {
    width: 720px;
  }
}
@media (min-width: 1400px) {
  .detail-page .detail-page-heading {
    width: 449px;
    left: 410px;
    right: auto;
  }
}
.detail-page .detail-page-heading .subtitle {
  font-size: 15px;
  color: #7D7D7D;
  margin: 0 0 0 8px;
}
@media (min-width: 768px) {
  .detail-page .detail-page-heading .subtitle {
    margin: 0;
  }
}
.detail-page .detail-page-heading img {
  margin: 16px 0 0 0;
  width: 64px;
  height: auto;
}
@media (min-width: 768px) {
  .detail-page .detail-page-heading img {
    width: 128px;
    margin: 0;
    position: absolute;
    bottom: -193px;
    right: 42px;
  }
}
@media (min-width: 992px) {
  .detail-page .detail-page-heading img {
    right: 294px;
  }
}
@media (min-width: 1400px) {
  .detail-page .detail-page-heading img {
    right: auto;
    left: 30px;
    top: 485px;
  }
}
.detail-page .detail-page-heading-inner {
  position: relative;
}
.detail-page article {
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .detail-page article {
    margin: 50px 0 0 0;
  }
}
@media (min-width: 1400px) {
  .detail-page article {
    margin: 0;
    width: 475px;
  }
}
.detail-page article h2 {
  font-size: 100px;
  color: #F3F3F3;
  font-weight: bold;
  text-align: right;
  margin: -50px 0 0 0;
}
@media (min-width: 768px) {
  .detail-page article h2 {
    font-size: 200px;
    text-align: left;
    margin: 0;
  }
}
@media (min-width: 1400px) {
  .detail-page article h2 {
    text-align: right;
    line-height: 0.85em;
  }
}
.detail-page article p {
  margin: -35px 0 0 0;
  font-weight: bold;
  color: #7D7D7D;
  line-height: 2em;
}
@media (min-width: 768px) {
  .detail-page article p {
    margin: -115px 0 0 115px;
    width: 475px;
  }
}
@media (min-width: 1400px) {
  .detail-page article p {
    margin: -40px 0 0 0;
    width: 350px;
  }
}
.detail-page article a {
  margin: 70px 0;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 12px;
  color: #7D7D7D;
  display: block;
  transition: all 0.2s ease-out;
}
@media (min-width: 768px) {
  .detail-page article a {
    margin: 40px 0 53px 115px;
  }
}
@media (min-width: 1400px) {
  .detail-page article a {
    margin: 80px 0 0 0;
  }
}
@media (hover: hover) and (pointer: fine) {
  .detail-page article a:hover {
    color: #000;
    transition: all 0.2s ease-out;
  }
}

.lightbox {
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}
.lightbox .lightbox-inner {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
}
.lightbox a {
  text-align: right;
  font-size: 14px;
  letter-spacing: 3px;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 0 40px 0;
}
.lightbox a:hover {
  text-decoration: underline;
}
.lightbox.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lightbox img {
  width: 100%;
  height: auto;
}

.slideshow-nav {
  position: fixed;
  bottom: 0;
  padding: 16px 24px;
  background-color: #FFF;
  width: 100%;
  z-index: 99;
}
@media (min-width: 768px) {
  .slideshow-nav {
    padding: 24px;
  }
}
.slideshow-nav .slideshow-nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .slideshow-nav .slideshow-nav-inner {
    max-width: 740px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .slideshow-nav .slideshow-nav-inner {
    max-width: 992px;
  }
}
@media (min-width: 1400px) {
  .slideshow-nav .slideshow-nav-inner {
    max-width: 1360px;
  }
}
.slideshow-nav::before {
  content: "";
  height: 1px;
  background-color: #E5E5E5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.slideshow-nav .slideshow-info h3 {
  margin: 0 0 8px 0;
}
@media (min-width: 768px) {
  .slideshow-nav .slideshow-info h3 {
    font-size: 18px;
  }
}
.slideshow-nav .slideshow-info span {
  font-size: 12px;
}
@media (min-width: 768px) {
  .slideshow-nav .slideshow-info span {
    font-size: 13px;
  }
}
.slideshow-nav .slideshow-nav-links a {
  text-decoration: none;
  transition: all 0.2s ease-out;
}
.slideshow-nav .slideshow-nav-links a:hover path {
  fill: #7D7D7D;
  transition: all 0.2s ease-out;
}
.slideshow-nav .slideshow-nav-links a:first-child {
  margin: 0 23px 0 0;
}

header {
  border-bottom: 1px solid #E5E5E5;
  margin: 0 0 24px 0;
  padding: 24px;
}
@media (min-width: 768px) {
  header {
    margin: 0 0 40px 0;
    padding: 40px 0;
  }
}
header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  header .header-inner {
    max-width: 740px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  header .header-inner {
    max-width: 992px;
  }
}
@media (min-width: 1400px) {
  header .header-inner {
    max-width: 1360px;
  }
}
header .site-logo svg {
  width: 115px;
  height: auto;
}
@media (min-width: 768px) {
  header .site-logo svg {
    width: 170px;
  }
}
header a {
  text-decoration: none;
  color: #7D7D7D;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  transition: all 0.2s ease-out;
}
header a:hover {
  color: #000;
  transition: all 0.6s ease-out;
}

main {
  margin: 0 24px;
}
@media (min-width: 768px) {
  main {
    max-width: 740px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  main {
    max-width: 992px;
  }
}
@media (min-width: 1400px) {
  main {
    max-width: 1360px;
  }
}/*# sourceMappingURL=styles.css.map */